<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.asc.home">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name=".Activity.Login.Splash"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.CreateNewEvent"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            ></activity>
        <activity
            android:name=".Activity.Other.Referral"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            ></activity>
        <activity android:name=".Activity.Other.Redeem"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            />
        <activity android:name=".Activity.Other.Settings"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            />
        <activity
            android:name=".Activity.Learnings.Learning"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Activity.Login.OTPLogin"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Activity.Login.IntroductionScreens"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Activity.Home.DashboardFragments.Profile"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Activity.Other.FAQ"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".Activity.Login.LoginScreen"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Activity.Other.Wallet"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.Other.Profile"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Activity.Other.Social"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Activity.Home.Dashboard"
            android:label="@string/app_name"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Activity.Home.Mission"
            android:label="@string/app_name"
            android:theme="@style/NoActionBar" />
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

    </application>

</manifest>