<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.asc.home">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity android:name=".Splash"
            android:theme="@style/NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login_Page" />
        <activity android:name=".Activity.font_try" />
        <activity
            android:name=".Activity.Wallet.Wallet"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.Profile.Profile"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Activity.Social.Social"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Activity.Main.Main"
            android:label="@string/app_name"
            android:theme="@style/NoActionBar">

        </activity>
        <activity
            android:name=".Activity.Mission.Mission"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>